/* CUSTON-PROPS */
:root {
  --text-color: #13183f;
  --heading-color: #83869a;
  --light-bg: #f74780;
  --error-color: #fff;
}


/* FONS-PAGE */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/") format('woff2'),
      url("../fonts/") format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/") format('woff2'),
      url("../fonts/") format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/") format('woff2'),
      url("../fonts/") format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}




/* GLOBAL */
html{
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

*,
*::before
*::after{
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Plus Jakarta Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  background-color: #fff;
  color: var(--text-color)
}

img{
  max-width: 100%;
  height: auto;
}


/* CONTAINER */
.container{
  width: 100%;
  max-width: 1540px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content{
  flex-grow: 1;
}